# Random Forest Example

## Installation

### Package

In [3]:
## Install Library
#pip install forecasting-models https://pypi.org/project/forecasting-models/

In [2]:
## Load up Library
from forecasting_models import generateRandomForestForecast


### Data Exploration

In [3]:
## Sample Data

import pandas as pd
import numpy as np

df = pd.read_csv('./data/PJME_hourly.csv')

In [4]:
## Top rows of data
df.head(10)

              Datetime  PJME_MW
0  2002-12-31 01:00:00  26498.0
1  2002-12-31 02:00:00  25147.0
2  2002-12-31 03:00:00  24574.0
3  2002-12-31 04:00:00  24393.0
4  2002-12-31 05:00:00  24860.0
5  2002-12-31 06:00:00  26222.0
6  2002-12-31 07:00:00  28702.0
7  2002-12-31 08:00:00  30698.0
8  2002-12-31 09:00:00  31800.0
9  2002-12-31 10:00:00  32359.0

In [5]:
## Last date of data
df.max()

Datetime    2018-08-03 00:00:00
PJME_MW                 62009.0
dtype: object

### Format of Code

forecast table, metrics = generateRandomForestForecast(
    data,                      # The DataFrame containing your time series data.
    date,                      # The name of the column in 'data' that contains the time component.
    value,                     # The name of the column in 'data' that contains the value to forecast.
    group=None,                # Optional: A tuple for filtering data by a certain group (column name, value).
    forecast_horizon=365,      # Optional: Number of periods to forecast into the future.
    frequency='D',             # Optional: Frequency of the time series data ('D' for daily, etc.).
    train_size=0.8,            # Optional: Proportion of data to use for training (e.g., 0.8 for 80%).
    make_stationary_flag=False,# Optional: Whether to apply differencing to make the series stationary.
    remove_seasonality_flag=False, # Optional: Whether to remove seasonality from the time series.
    hyperparameters=None,      # Optional: A dictionary of hyperparameters for the XGBoost model.
    confidence_level=0.95      # Optional: Confidence level for the prediction intervals.
)


Also, 

custom_hyperparameters = {
    'n_estimators': 200,       # The number of trees in the forest. More trees generally improve the model's performance but increase computational cost and time.
    'max_depth': 20,           # The maximum depth of each tree. Limits how deep each tree can grow. Deeper trees can model more complex patterns but may lead to overfitting.
    'min_samples_split': 5,    # The minimum number of samples required to split an internal node. Higher values prevent the model from creating nodes that only fit a small number of observations, aiding in generalization.
    'min_samples_leaf': 2,     # The minimum number of samples required to be at a leaf node. Like min_samples_split, larger values help in preventing the model from learning the data too specifically (overfitting).
    'max_features': 'auto',    # The number of features to consider when looking for the best split. 'auto' uses all features. Reducing this number can lead to better performance by adding diversity to the trees.
    'bootstrap': True,         # Whether or not bootstrap sampling is used. If True, each tree is trained on a random subset of the data. This introduces more diversity among the trees and helps in reducing overfitting.
    'random_state': 42         # Sets a seed for the random number generator. This ensures that the results are reproducible. Different seeds can lead to slightly different results due to the randomness in tree building.
}

forecast table, metrics = generateRandomForestForecast(
    data,
    date,
    value,
    hyperparameters=custom_hyperparameters
    # other parameters...
)

In [8]:
### Example usage

In [6]:
# Example usage
# Assuming 'df' is your DataFrame, 'date' is the name of your date column, and 'value' is the name of your value column
forecast_table, metrics = generateRandomForestForecast(df, 'Datetime', 'PJME_MW', forecast_horizon=24*7, 
                                                  frequency='H', train_size=0.8, confidence_level=0.95, 
                                                  make_stationary_flag=False, remove_seasonality_flag=False)

INFO: The time series is stationary. Model results might be reliable.
INFO: Significant seasonality detected in the time series data.

In [7]:
forecast_table

                   Date      Forecast   Lower_Bound   Upper_Bound
0   2018-08-03 01:00:00  39316.899851  34436.841996  45220.993548
1   2018-08-03 02:00:00  39148.584090  34268.526236  45052.677787
2   2018-08-03 03:00:00  39144.539638  34264.481784  45048.633335
3   2018-08-03 04:00:00  39128.056739  34247.998885  45032.150436
4   2018-08-03 05:00:00  39137.446032  34257.388178  45041.539730
..                  ...           ...           ...           ...
163 2018-08-09 20:00:00  30499.766948  25619.709094  36403.860645
164 2018-08-09 21:00:00  30499.766948  25619.709094  36403.860645
165 2018-08-09 22:00:00  30499.766948  25619.709094  36403.860645
166 2018-08-09 23:00:00  30499.766948  25619.709094  36403.860645
167 2018-08-10 00:00:00  29027.484283  24147.426429  34931.577980

[168 rows x 4 columns]

In [8]:
metrics

  Model Metrics  Performance
0          RMSE  2621.101316
1           MAE  1956.997102
2          MAPE     6.154298