# Facebook Prophet Example

## Installation

### Package

In [3]:
## Install Library
#pip install forecasting-models https://pypi.org/project/forecasting-models/

In [4]:
## Load up Library
from forecasting_models import generateProphetForecast


### Data Exploration

In [5]:
## Sample Data

import pandas as pd
import numpy as np

df = pd.read_csv('./data/PJME_hourly.csv')

In [6]:
## Top rows of data
df.head(10)

              Datetime  PJME_MW
0  2002-12-31 01:00:00  26498.0
1  2002-12-31 02:00:00  25147.0
2  2002-12-31 03:00:00  24574.0
3  2002-12-31 04:00:00  24393.0
4  2002-12-31 05:00:00  24860.0
5  2002-12-31 06:00:00  26222.0
6  2002-12-31 07:00:00  28702.0
7  2002-12-31 08:00:00  30698.0
8  2002-12-31 09:00:00  31800.0
9  2002-12-31 10:00:00  32359.0

In [7]:
## Last date of data
df.max()

Datetime    2018-08-03 00:00:00
PJME_MW                 62009.0
dtype: object

### Format of Code

In [2]:
#forecast table, metrics = generateProphetForecast(
#    data,                  # The DataFrame containing your time series data.
#   date,                  # The name of the column in 'data' that contains the time component.
#    value,                 # The name of the column in 'data' that contains the value to forecast.
#    group=None,            # Optional: A tuple to filter the data by a certain group. 
                           # Format: ('column_name', value)
#    include_holidays=False, # Optional: Whether to consider US Federal holidays in the model.
#    forecast_horizon=365,  # Optional: The number of periods to forecast into the future.
#   frequency='D',         # Optional: The frequency of the time series data ('D' for daily, etc.).
#   train_size=0.8,        # Optional: The proportion of data to use for training (0.8 means 80%).
#    confidence_level=0.95, # Optional: The confidence level for the predictive interval.
#    make_stationary_flag=False, # Optional: Whether to make the time series stationary.
#    remove_seasonality_flag=False, # Optional: Whether to remove seasonality from the time series.
#    hyperparameters=None   # Optional: A dictionary of hyperparameters for the Prophet model.
#)

#Also, 

#custom_hyperparameters = {
#    'changepoint_prior_scale': 0.05,    # Increasing it will make the trend more flexible
#    'seasonality_prior_scale': 10.0,    # Controls the flexibility of the seasonal components
#    'holidays_prior_scale': 10.0,       # Flexibility to fit holiday effects
#    'seasonality_mode': 'additive',     # Can be 'additive' or 'multiplicative'
#    'daily_seasonality': False,         # Whether to model daily seasonality
#    'weekly_seasonality': True,         # Whether to model weekly seasonality
#    'yearly_seasonality': True,         # Whether to model yearly seasonality
#    'n_changepoints': 25,               # Number of potential changepoints to include
#    'interval_width': 0.95,             # Width of the uncertainty intervals provided for the forecast
#    'growth': 'linear',                 # Can be 'linear' or 'logistic' to specify a growth model
    # Add other Prophet parameters as needed
#}

#forecast table, metrics = generateProphetForecast(
#    data,
#    date,
#    value,
#    hyperparameters=custom_hyperparameters
    # other parameters...
#)

In [8]:
### Example usage

In [9]:
# Example usage
# Assuming 'df' is your DataFrame, 'date' is the name of your date column, and 'value' is the name of your value column
forecast_table, metrics = generateProphetForecast(df, 'Datetime', 'PJME_MW', include_holidays=True, forecast_horizon=24*7, 
                                                  frequency='H', train_size=0.8, confidence_level=0.95, 
                                                  make_stationary_flag=False, remove_seasonality_flag=False)

INFO: The time series is stationary. Model results might be reliable.
INFO: Significant seasonality detected in the time series data.

In [10]:
forecast_table

                   Date      Forecast   Lower_Bound   Upper_Bound
0   2018-08-03 01:00:00  30735.907410  23463.280602  37178.150036
1   2018-08-03 02:00:00  29226.236320  22344.951571  36301.369548
2   2018-08-03 03:00:00  28344.520535  21517.444750  35475.627163
3   2018-08-03 04:00:00  28191.368225  21192.647241  34851.377235
4   2018-08-03 05:00:00  28854.880646  22156.006907  35796.309134
..                  ...           ...           ...           ...
163 2018-08-09 20:00:00  38869.441687  31816.362398  46102.426626
164 2018-08-09 21:00:00  38092.964821  31470.184987  45192.322827
165 2018-08-09 22:00:00  36462.620747  29447.317159  43579.758091
166 2018-08-09 23:00:00  34260.943843  26893.921891  40941.804436
167 2018-08-10 00:00:00  31947.498054  25206.189689  38347.201060

[168 rows x 4 columns]

In [11]:
metrics

  Model Metrics  Performance
0          RMSE  7366.313113
1           MAE  5650.154986
2          MAPE    17.505494