# Gradient Boosting Example

## Installation

### Package

In [3]:
## Install Library
#pip install forecasting-models https://pypi.org/project/forecasting-models/

In [3]:
## Load up Library
from forecasting_models import generateGradientBoostingForecast


### Data Exploration

In [2]:
## Sample Data

import pandas as pd
import numpy as np

df = pd.read_csv('./data/PJME_hourly.csv')

In [4]:
## Top rows of data
df.head(10)

              Datetime  PJME_MW
0  2002-12-31 01:00:00  26498.0
1  2002-12-31 02:00:00  25147.0
2  2002-12-31 03:00:00  24574.0
3  2002-12-31 04:00:00  24393.0
4  2002-12-31 05:00:00  24860.0
5  2002-12-31 06:00:00  26222.0
6  2002-12-31 07:00:00  28702.0
7  2002-12-31 08:00:00  30698.0
8  2002-12-31 09:00:00  31800.0
9  2002-12-31 10:00:00  32359.0

In [5]:
## Last date of data
df.max()

Datetime    2018-08-03 00:00:00
PJME_MW                 62009.0
dtype: object

### Format of Code

forecast table, metrics = generateGradientBoostingForecast(
    data,                      # The DataFrame containing your time series data.
    date,                      # The name of the column in 'data' that contains the time component.
    value,                     # The name of the column in 'data' that contains the value to forecast.
    group=None,                # Optional: A tuple for filtering data by a certain group (column name, value).
    forecast_horizon=365,      # Optional: Number of periods to forecast into the future.
    frequency='D',             # Optional: Frequency of the time series data ('D' for daily, etc.).
    train_size=0.8,            # Optional: Proportion of data to use for training (e.g., 0.8 for 80%).
    make_stationary_flag=False,# Optional: Whether to apply differencing to make the series stationary.
    remove_seasonality_flag=False, # Optional: Whether to remove seasonality from the time series.
    hyperparameters=None,      # Optional: A dictionary of hyperparameters for the XGBoost model.
    confidence_level=0.95      # Optional: Confidence level for the prediction intervals.
)


Also, 

custom_parameters = {
    'n_estimators': 100,       # Number of boosting stages to be run. More stages increase accuracy but also risk of overfitting.
    'learning_rate': 0.1,      # Learning rate shrinks the contribution of each tree. A smaller value requires more trees but can lead to better performance.
    'max_depth': 3,            # Maximum depth of the individual regression estimators. Controls the depth of each tree.
    'min_samples_split': 2,    # Minimum number of samples required to split an internal node. Can be used to control overfitting.
    'min_samples_leaf': 1,     # Minimum number of samples required to be at a leaf node. Prevents creating leaves with few samples, helping to reduce overfitting.
    'max_features': None,      # Number of features to consider when looking for the best split. 'None' means all features are considered.
    'subsample': 1.0,          # Fraction of samples to be used for fitting individual base learners. A value of 1.0 means that all samples are used.
    'random_state': 42         # Seed for the random number generator. Ensures reproducibility of results.
}


forecast table, metrics = generateGradientBoostingForecast(
    data,
    date,
    value,
    hyperparameters=custom_hyperparameters
    # other parameters...
)

In [8]:
### Example usage

In [5]:
# Example usage
# Assuming 'df' is your DataFrame, 'date' is the name of your date column, and 'value' is the name of your value column
forecast_table, metrics = generateGradientBoostingForecast(df, 'Datetime', 'PJME_MW', forecast_horizon=24*7, 
                                                  frequency='H', train_size=0.8, confidence_level=0.95, 
                                                  make_stationary_flag=False, remove_seasonality_flag=False)

INFO: The time series is stationary. Model results might be reliable.
INFO: Significant seasonality detected in the time series data.

In [6]:
forecast_table

                   Date      Forecast   Lower_Bound   Upper_Bound
0   2018-08-03 01:00:00  29084.438392  22763.293726  38553.938923
1   2018-08-03 02:00:00  27745.644985  21424.500319  37215.145515
2   2018-08-03 03:00:00  27185.365700  20864.221033  36654.866230
3   2018-08-03 04:00:00  27185.365700  20864.221033  36654.866230
4   2018-08-03 05:00:00  27185.365700  20864.221033  36654.866230
..                  ...           ...           ...           ...
163 2018-08-09 20:00:00  42323.000043  36001.855377  51792.500573
164 2018-08-09 21:00:00  42107.202460  35786.057793  51576.702990
165 2018-08-09 22:00:00  40478.097294  34156.952628  49947.597825
166 2018-08-09 23:00:00  37569.080095  31247.935428  47038.580625
167 2018-08-10 00:00:00  31653.147996  25332.003330  41122.648526

[168 rows x 4 columns]

In [7]:
metrics

  Model Metrics  Performance
0          RMSE  3862.302637
1           MAE  2923.327518
2          MAPE     8.963424